 *
 {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
button
{
    padding: 20px 20px;
}
 body
{
    background-color: rgb(255, 255, 255);
}

.navbar
{
   border: 1px solid white;
}
.container-fluid .row .p
{
    padding: 0%;
    padding-top: 4px;
}

.navbar :hover
{
    background-color: rgb(0, 0, 0);
    color: #ffffff !important;
} 
 .navbar .container-fluid .navbar-brand
{
    font-size: 30px;
   font-family :"Archivo Narrow", sans-serif;
    font-style: normal;
    /* padding-left: 50px; */
    color: rgb(255, 255, 255);
}
/* .navbar .container-fluid .navbar-nav
{
    padding-left: 20px;
   
} */
.navbar .d-flex img
{
width: 20px;
} 
ul li a
{
    color: rgb(255, 255, 255) !important;
}






